@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* MAIN */
main .wrapper {
  background: url("img/bg-hero-desktop.svg") no-repeat;
  height: 30em;
  /* outline: #ff5101 2px solid; */
}

/* HEADER */
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container .brand-logo {
  margin: 20px;
  max-width: 300px;
}

.header-container a {
  text-decoration: none;
  margin: 20px;
  border: 1px solid #dad4d4;
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: bold;
  color: #000;
  box-shadow: 0px 0px 5px #b8b6b6;
}

/* ARTICLE */
article {
  margin-top: 50px;
}

.art-container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  position: relative;
}

.art-container>* {
  margin: 0 30px;
}

.art-container p {
  width: 40em;
  margin-top: 30px;
}

/* .right-panel #devices {
  max-width: 30em;
  position: absolute;
  top: -40px;
  left: 45em;
} */

.left-panel a {
  text-decoration: none;
  padding: 5px 30px;
  margin-top: 20px;
  display: inline-block;
  background: #ff52bf;
  color: #fff;
  border-radius: 50px;
}

.left-panel a:hover {
  box-shadow: 0px 0px 8px #000;
}

/* SECTION */
.cards-container .card-one {
  margin: 110px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: #000 solid 2px; */
  border: 1px solid #dad4d4;
  box-shadow: 0px 0px 5px #b8b6b6;
  padding: 25px 90px;
  border-radius: 10px;
}

.card-one h3,p {
  margin: 10px 0;
}

.card-one #svg-card {
  max-width: 350px;
}

.card-one p {
  width: 40em;
}

/* card-two */
.cards-container .card-two {
  margin: -70px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: #000 solid 2px; */
  border: 1px solid #dad4d4;
  box-shadow: 0px 0px 5px #b8b6b6;
  padding: 25px 90px;
  border-radius: 10px;
}

.card-two h3,
p {
  margin: 10px 0;
}

.card-two #svg-card {
  max-width: 350px;
}

.card-two p {
  width: 40em;
}

/* card-three */
.cards-container .card-three {
  margin: 110px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: #000 solid 2px; */
  border: 1px solid #dad4d4;
  box-shadow: 0px 0px 5px #b8b6b6;
  padding: 25px 90px;
  border-radius: 10px;
}

.card-three h3,
p {
  margin: 10px 0;
}

.card-three #svg-card {
  max-width: 350px;
}

.card-three p {
  width: 40em;
}

/* FOOTER */
.minicard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-inline: 30em;
  background-color: #fff;
  padding: 30px 0;
  border-radius: 10px;
  position: relative;
  top: -85px;
  box-shadow: 0px 0px 3px #000;
}

.minicard>* {
  margin: 5px 0;
}

.minicard a {
  text-decoration: none;
  padding: 5px 30px;
  display: inline-block;
  background: #ff52bf;
  color: #fff;
  border-radius: 50px;
}

.minicard a:hover {
  box-shadow: 0px 0px 8px #000;
}

/* WRAPPER */
.footer-wrapper {
  height: 30em;
  outline: blueviolet 2px solid;
  margin-top: 20em;
  background: #5847f8;
}

.footer-container {
  margin: 5px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* CASE 1 */
.case-one {
  width: 40%;
}

.details {
  display: flex;
  flex-flow: column;
  margin-top: 3em;
  /* outline: red  solid 2px; */
}

/* location */
.location {
  display: flex;
}

.location #gps-icon {
  width: 30px;
  position: relative;
  top: 10px;
}

.location>* {
  margin-inline: 10px;
}

/* gsm */
.gsm {
  display: flex;
}

.gsm #gsm-icon {
  position: relative;
  top: 10px;
}

.gsm>* {
  margin-inline: 9px;
}

/* mail */
.mail {
  display: flex;
}

.mail #mail-icon {
  position: relative;
  top: 10px;
}

.mail>* {
  margin-inline: 9px;
}

/* CASE 2 */
.case-two {
  margin-top: 6.3em;
  display: flex;
  /* outline: red solid 2px; */
}

.row-one a,
.row-two a {
  text-decoration: none;
  margin-inline: 30px;
  padding: 5px 0;
  color: #fff;
}

.row-one {
  display: flex;
  flex-direction: column;
}

.row-two {
  display: flex;
  flex-direction: column;
}

/* CASE 3 */
.case-three {
  margin-top: 6.5em;
  /* outline: green 2px solid; */
  width: 20em;
  display: flex;
  justify-content: center;
}

.case-three>* {
  font-size: 20px;
  padding-inline: 5px;
  color: #fff;
}

.case-three>*:hover {
  cursor: pointer;
}

/* copyright */
.copyright {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: small;
}








/* === MEDIA QUERY === */
@media (max-width: 768px){
  /* HEADER */
  .header-container{
    align-items: center;
  }
  .brand-logo{
    width: 170px;
    height: 30px;
    margin: 0;
  }
  .header-container a{
    max-width: 100px;
    font-size: 10px;
    text-align: center;
    padding: 10px 20px;
  }
  /* ARTICLE */
  .art-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:  wrap;
  }
  .art-container>* {
    margin: 0 10px;
    width: 300px;
  }
  .art-container h2{
    text-align: center;
    width: 15em;
  }
  .art-container p {
    width: fit-content;
    margin-top: 10px;
    text-align: center;
  }
  .left-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-panel #devices {
    max-width: 20em;
    outline: red solid 2px;
    margin-top: 50px;
  }

  /* SECTION - CARDS 1 */
 .cards-container{
  margin-top: 15em;
}
.cards-container #svg-card{
  max-width: 250px;
}
.card-one{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  
}
.card-one p {
  width: 200px;
}
.card-one .caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* SECTION - CARDS 2 */
.card-two{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.card-two .caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card-two p {
  width: 200px;
}


/* SECTION - CARDS 3 */
.card-three{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.card-three .caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card-three p {
  width: 200px;
}
}
